/*
Este meú está:
url: https://www.youtube.com/watch?v=DZg6UfS5zYg
*/

.menu-wrap {
    position: absolute;
    z-index: 10000;
    width: 100%;

    .toggler {
        z-index: 100;
        position: absolute;
        // top: 0;
        // left: 0;
        width: $nav-block-size;
        height: $nav-block-size;
        border: 0;
        opacity: 0;

        &:checked {

            /* rotate on hover */
            &:hover+.hamburger>div {
                transform: rotate(45deg);
            }

            /* hamburger amination to x */
            +.hamburger {
                background-color: transparent;
                transition: background-color 10ms ease;

                >div {
                    transform: rotate(45deg);

                    &:before,
                    &:after {
                        top: 0;
                        transform: rotate(-90deg);
                        box-shadow: $shadow-r;
                    }

                    &:before{
                        box-shadow: none;
                    }
                }
            }

            /* toggle visibility */
            ~.menu {
                transition: all 1s ease;
                visibility: visible;
                opacity: 100;

                >#main-nav {
                    transform: translateY(0);
                }

            }
        }

    }

    .hamburger {
        z-index: 20;
        position: absolute;
        top: 0;
        left: 0;
        width: $nav-block-size;
        height: $nav-block-size;
        padding: 1rem;
        background: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background-color .5s ease-in;

        /* hambuerger lines */
        >div {
            position: relative;
            width: 100%;
            height: 2px;
            background-color: $color-white;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all 0.4s ease;
            box-shadow: $shadow;

            &:before,
            &:after {
                content: '';
                position: absolute;
                top: -$nav-block-size/3;
                width: 100%;
                height: 2px;
                background: inherit;
                box-shadow: $shadow;
            }

            &:after {
                top: $nav-block-size/3;
            }
        }
    }

    .menu {
        transition: all 0.4s ease;
        position: relative;
        padding: .5em 0 0.3em 3em;
        font-size: 1.4em;
        visibility: hidden;
        opacity: 0;
        background-color: $color-dark;

        nav {
            width: 100%;
            &#main-nav {
                position: relative;
                transform: translateY(-200px);
                display: block;

                li {
                    list-style-type: none;
                    margin-left: 25%;

                    a {
                        //position: relative;
                        text-transform: uppercase;
                        text-decoration: none;
                        color: $color-white;
                        text-shadow: $shadow;
                        font-weight: 600;
                        display: inline-block;
                        padding: 0.5ex 1em;
                        border: 2px solid white;
                        border-radius: 3ex;

                        &:hover {
                            color: $color-dark;
                            text-shadow: none;
                            background-color: white;
                        }
                    }
                }
            }
        }
    }
}