/*
*
*  Sitio de Francisco Méndez Labbe
*  Diseño: Herbert Spencer González
*
*/

$max-width: 72rem;
$page-padding: 3rem;
$nav-block-size: 40px;
$color-blue: #0067A1;
$color-dark: #013276;
$color-white: #f3fffd;

$shadow: 2px 2px 2px rgba(1, 49, 117, 0.352);
$shadow-r: -2px 2px 2px rgba(1, 49, 117, 0.352);

@import "normalize";
@import "skeleton";
@import "menu";

body {
    text-shadow: $shadow;
    background: linear-gradient(-20deg, #0067A1 0%, #01A6DE 35%, #6DCFF4 87%, #B1D8E7 100%);
}

canvas {
    overflow-x: hidden;
    touch-action: none;
}

img.store-btn {
    max-width: 70%;
}

img.logo-pucv{
    display: inline-block;
    width: 30%;
    margin: 2em 0;
}

img.logo-puerto{
    display: inline-block;
    width: 70%;
    margin: 6em 0;
}

li{
    margin: 0 0 0 1.8em;
}

a.btn{
    font-size: 1.3em;
    text-transform: uppercase;
    text-decoration: none;
    color: $color-white;
    background-color: $color-dark;
    border: 2px solid transparent;
    text-shadow: $shadow;
    font-weight: 600;
    display: inline-block;
    padding: 0.5ex 1em;
    border-radius: 3ex;
    &:hover{
        border: 2px solid white;
    }
}

.h2 {
    background-image: url('img/logo-suelar-w.svg');
    width: 500px;
    height: 200px;

    span {
        display: none;
    }
}

body {
    min-height: 100vh;
    width: 100%;
}

object {
    width: 100%;
    margin-bottom: 2em;
    // filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));


    svg {
        filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
    }
}

.center {
    text-align: center;
}

#main {
    padding-top: 10rem;
}


/* párrafo selector con los checkboxes para filtrar */
.selector {
    display: block;
    position: relative;
    font-size: 90%;

    div {
        display: inline-block;
        margin-right: 1ex;

        label {
            font-weight: normal;
            z-index: 10000;

            input[type="checkbox"] {
                position: relative;
                width: 1em;
                height: 1em;
                vertical-align: -2px;
                margin-right: 1ex;
            }

            span {
                &::before {
                    display: inline-block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 25px;
                    width: 25px;
                    background-color: #eee;
                    border-radius: 4px
                }
            }
        }
    }
}

@media (min-width: 550px) {
    .right{
        margin-top: 32rem;
    }
}