/*
*
*    SuelAR - Valparaíso 2023
*    CAD - Centro de Artes Digitales PUCV
*
*/

$max-width: 72rem;
$page-padding: 3rem;
$nav-block-size: 40px;
$color-blue: #0067A1;
$color-dark: #013276;
$color-white: #f3fffd;

$shadow: 2px 2px 1px rgba(1, 49, 117, 0.5352);
$shadow-r: -2px 2px 1px rgba(1, 49, 117, 0.5352);

@import "normalize";
@import "skeleton";
@import "menu";

body {
    text-shadow: $shadow;
    background: linear-gradient(-20deg, #0067A1 0%, #01A6DE 35%, #6DCFF4 87%, #B1D8E7 100%);
}

em {
    font-family: 'Source Serif Pro', 'Times New Roman', Times, serif;
}

strong {
    font-weight: 900;
}

canvas {
    overflow-x: hidden;
    touch-action: none;
}

img.store-btn {
    max-width: 70%;
}

.logo-pucv {
    display: inline-block;
    width: 50%;
    margin: 2em 0;
}

.logo-epv {
    display: inline-block;
    width: 90%;
    margin: 4em 0;
}

.logo-stl {
    display: inline-block;
    width: 70%;
    margin: 0;
}

.logo-cad {
    margin: 2em 0 0 0;
    width: 95%;
    height: auto;
}

.sponsors {
    display: flex;
    align-items: center;
}

.activador {
    display: inline-block;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    margin: 1em 0;
    box-shadow: $shadow;
}

li {
    margin: 0 0 0 1.8em;
}

a.btn {
    font-size: 1.3em;
    text-transform: uppercase;
    text-decoration: none;
    color: $color-white;
    background-color: $color-dark;
    border: 2px solid transparent;
    text-shadow: $shadow;
    font-weight: 600;
    display: inline-block;
    padding: 0.5ex 1em;
    border-radius: 3ex;

    &:hover {
        border: 2px solid white;
    }
}

.h2 {
    background-image: url('img/logo-suelar-w.svg');
    width: 500px;
    height: 200px;

    span {
        display: none;
    }
}

h4 {
    margin: 1em 0 0 0;
}

body {
    min-height: 100vh;
    width: 100%;
}

.column {
    ol.pasos {
        li {
            background-color: transparentize($color-blue, 0.5);
            padding: 1rem;
            border: 2px solid transparentize($color-dark , 0.2);
            margin: 0 0 1em 0;
            border-radius: 1ex;
            box-shadow: $shadow;
            list-style-type: decimal;

            &::before {
                content: none;
            }
        }
    }

    li {
        // display: block;
        list-style-type: disclosure-closed;

        &::before {
            /* content: "→ ";*/
        }

        &::marker {
            text-shadow: $shadow;
            color: rgb(255, 255, 255)
        }

    }

}


object {
    width: 100%;
    margin-bottom: 2em;
    filter: drop-shadow(3px 5px 2px rgba(1, 49, 117, 0.5352));
    /*
    svg {
        filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
    }*/
}

.center {
    text-align: center;
}

#main {
    padding-top: 10rem;
}


/* párrafo selector con los checkboxes para filtrar */
.selector {
    display: block;
    position: relative;
    font-size: 90%;

    div {
        display: inline-block;
        margin-right: 1ex;

        label {
            font-weight: normal;
            z-index: 10000;

            input[type="checkbox"] {
                position: relative;
                width: 1em;
                height: 1em;
                vertical-align: -2px;
                margin-right: 1ex;
            }

            span {
                &::before {
                    display: inline-block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 25px;
                    width: 25px;
                    background-color: #eee;
                    border-radius: 4px
                }
            }
        }
    }
}

@media (min-width: 550px) {
    .right {
        margin-top: 17rem;
    }

    img.logo-puerto {
        margin: 11em 0;
    }
}

.grid-layout {

    width: 100%;
    margin: 0 auto;
    text-align: center;


}

.caja {
    width: 150px;
    height: 150px;
    border-radius: 6px;
    background-color: rgb(0, 89, 140, .5);
    margin: .2rem;
    text-align: center;
    line-height: 150px;
    float: left;


}

.thumbPNG {
    width: 80px;
    height: 80px;
    margin: 0;
    float: none;
}

.thumbPNGpeces {
    width: 100px;
    height: 40px;
    margin: 0;
    align-items: center;
    float: none;
}

.boxl {
    width: 50%;
    height: 300px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url(/img/gameplaypic.jpeg);
    background-size: cover;
    text-align: center;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    font-size: 3rem;
    margin-block: 1rem;

}


.boxl:hover {
    background-image: linear-gradient(rgba(134, 183, 255, .8), rgba(134, 183, 255, .2)), url(/img/gameplaypic.jpeg);
    font-size: 3.5rem;


}

.boxr {
    width: 50%;
    height: 300px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url(/img/Boton_wiki.png);
    background-size: cover;
    text-align: center;
    line-height: 30rem;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    font-size: 3rem;
    margin-block: 1rem;

}

.boxr:hover {
    background-image: linear-gradient(rgba(134, 183, 255, .88), rgba(134, 183, 255, .2)), url(/img/Boton_wiki.png);
    font-size: 3.5rem;


}

.box {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
    width: 95%;
    height: 100%;
    margin: auto;
    line-height: 30rem;

}

.map {
    border: 0;
    height: 450px;
    width: 95%;
}